{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-3">
        <div class="row">
            <div class="col-12 col-lg-6 p-2">
                <div class="border border-info rounded bg-grey rounded-bottom">
                    <h1 class="h3 text-center bg-info rounded-top text-light p-2">News</h1>
                    <ul>
                        <li>News</li>
                        <li>Sudoku</li>
                        <li>Démineur</li>
                        <li>Espace Membres</li>
                        <li>Carré Magique</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-2">
                <div class="border border-info rounded bg-grey rounded-bottom">
                    <div>
                        <h2 class="h3 text-center bg-info rounded-top text-light p-2">Jeux</h2>
                        <?php include 'include/list_jeux.php' ?>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-2">
                <div class="border border-info rounded bg-grey rounded-bottom">
                    <h2 class="h3 text-center bg-info rounded-top text-light p-2">Blog</h2>
                    <ul>
                        <li>article 1</li>
                        <li>article 2</li>
                        <li>article 3</li>
                        <li>article 6</li>
                        <li>article 8</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-2">
                <div class="border border-info rounded bg-grey rounded-bottom">
                    <h2 class="h3 text-center bg-info rounded-top text-light p-2">Benchmark</h2>
                    <ul>
                        <li>CPU</li>
                        <li>GPU</li>
                        <li>RAM</li>
                        <li>Test</li>
                        <li>Info</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 p-2">
                <div class="border border-info rounded bg-grey rounded-bottom">
                    <h2 class="h3 text-center bg-info rounded-top text-light p-2">Forum</h2>
                    <ul>
                        <li>Projet</li>
                        <li>Discution</li>
                        <li>Conseil</li>
                        <li>Pratique</li>
                        <li>Autre</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-2">
                <div class="border border-info rounded bg-grey rounded-bottom">
                    <h2 class="h3 text-center bg-info rounded-top text-light p-2">Fonctionnalités à venir</h2>
                    <ul>
                        <li>Espace de Commentaire</li>
                        <li>Blog</li>
                        <li>Structure de la rubrique "Benchmark"</li>
                        <li>Le jeu "Sodokan"</li>
                        <li>Espace de messagerie interne</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-2">
                <div class="border border-info rounded bg-grey rounded-bottom">
                    <h2 class="h3 text-center bg-info rounded-top text-light p-2">Commentaires</h2>

                </div>
            </div>
            <div class="col-12 col-lg-6 p-2">
                <div class="border border-info rounded bg-grey rounded-bottom">
                    <h2 class="h3 text-center bg-info rounded-top text-light p-2">Postez un commentaire</h2>
                    <form class="p-3" method="post">
                        <div class="form-group">
                            <label for="name_comm">Nom : </label>
                            <input id="name_comm" class="form-control" type="text" name="name_comm" value="{{app.session.get('userName')}}">
                        </div>
                        <div class="form-group">
                            <label for="mes_comm">Commentaire : </label>
                            <textarea id="mes_comm" class="form-control" name="mes_comm"></textarea>
                        </div>
                        <button class="btn btn-info" type="submit" name="send_comm">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}